header {
    background-image: url(cursor.webp);
    background-repeat: no-repeat;
    background-position: right;
}

main::after {
    content: "";
    background-image: url(stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }